body{
    background: #eff4fa
}

.player-head{
    width: 30px; /* Adjust the width and height to your desired circle size */
    height: 30px;
    border-radius: 50%; /* Set border-radius to 50% to create a circle */
}

.player-link {
    color: #333;
    text-decoration: none;
}
.player-link:hover {
    text-decoration: underline; /* Add underline when the link is hovered over */
}

.navbar {
    margin-bottom: 30px;
}

#tooltip {
    position: absolute;
    background-color: #333; /* Background color */
    color: #fff; /* Text color */
    padding: 3px; /* Add padding for better appearance */
    border-radius: 5px; /* Rounded corners */
    display: none; /* Initially hide the tooltip */
    z-index: 100;
  }

.player-stats {
    border: #333;
    border-style: solid;
    border-width: 1px;
    margin-bottom: 10px;
    margin: 1px;
    /* reduce width of player-stats */
    width: 600px;
    height: 600px;
    text-align: center;
    /* add space from top  */
    padding-top: 5px;
}

.player-bio{
    min-width: 515px;
}
.percentile-stats{
    min-width: 445px;
}
.event-rink{
    min-width: 985px;
}
.btn-spacer {
    display: block; 
    /* add padding to the top and bottom of the button */
    padding: 1px;
  }

.player-search{
    margin-left: 2px;

}

#player-table{
    margin-top: 5px;
}

.game{
    border: 1px solid #000;
    margin-left: 2%;
    margin-bottom: 1%;
    width: 25%;
    height: 200px;
    float: left;
    min-width: 275.5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;   
}

.game-info{
    text-align: center;
    width: 100%;
}


.home-team,
.away-team{
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.team-score{
    text-align: center;
    margin-top: 5px;
    font-size: 16px;
}