body{
    background: #eff4fa
}



.player-head{
    width: 30px; /* Adjust the width and height to your desired circle size */
    height: 30px;
    border-radius: 50%; /* Set border-radius to 50% to create a circle */
}

.player-link {
    color: #333;
    text-decoration: none;
}
.player-link:hover {
    text-decoration: underline; /* Add underline when the link is hovered over */
}

.navbar {
    margin-bottom: 30px;
}

#tooltip {
    position: absolute;
    background-color: #333;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    white-space: nowrap;
    z-index: 1; /* Ensure the tooltip appears above the canvas */
  }

.player-stats {
    border: #333;
    border-style: solid;
    border-width: 1px;
    margin-bottom: 10px;
    margin: 1px;
    /* reduce width of player-stats */
    width: 600px;
    height: 565px;
    text-align: center;
    /* add space from top  */
}

.player-stats#player-info{
    padding: 0;
    max-width: 50%;
    min-width: 515px;
}
.player-stats#percentile-stats{
    padding: 0;
    max-width: 50%;
    min-width: 515px;
}
.player-stats#event-rink{
    /* max-width: 60%; */
    width: 60%;
    min-width: 515px;
    /* height: 415px; */
}   
.player-stats#event-table-container{
    max-width: 40%;
    min-width: 245px;
}

.btn-spacer {
    display: block; 
    /* add padding to the top and bottom of the button */
    padding: 1px;
  }

.player-search{
    margin-left: 2px;

}

#player-table{
    margin-top: 5px;
}

.game{
    border: 2px solid #000;
    margin-left: 2%;
    margin-bottom: 1%;
    width: 25%;
    height: 200px;
    float: left;
    min-width: 275.5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;   
}

.game-info{
    text-align: center;
    width: 100%;
}


.home-team,
.away-team{
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.team-score{
    text-align: center;
    margin-top: 5px;
    font-size: 16px;
}

#player-mug{
    height: 12%;
    border-radius: 50%;
    border: 1px solid #979494;
    background-color: #82c7cc;
    position: absolute;
    top: 160px;
    left: 50%; 
    transform: translate(-50%, 0);
    
}


#player-hero{
    width: 100%;
    height: auto; /* Maintain the image's aspect ratio */
    display: block; /* Remove any extra spacing around the image */
    margin: 0 auto; /* Center horizontally within the container */    
}

.image-container {
    width: 100%; /* Set the desired width */
    height: 200px; /* Set the desired height */
    overflow: hidden; /* Hide anything that goes beyond the container's boundaries */
    position: relative; /* To position pseudo-elements */
  }

.player-title{
    position: absolute;
    left: 50%; 
    transform: translate(-50%, 0);
    top: 235px;
    font-weight: bold;
    font-size: 20px;
}
.player_info{
    position: absolute;
    left: 50%; 
    transform: translate(-50%, 0);
    top: 260px;
    width: 100%;
}

.draft-info{
    position: absolute;
    left: 50%; 
    transform: translate(-50%, 0);
    top: 285px;
    width: 100%;
}

#recent-seasons{
    position: absolute;
    left: 50%; 
    transform: translate(-50%, 0);
    top: 320px;
    width: 100%;
}

.rink{
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
}

.title{
    font-size: 20px; 
}

.iframe-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.3%; /* 563/1000 aspect ratio */
}

.iframe-container iframe {
position: absolute;
top: 5%;
left: 50%;
transform: translate(-50%, 0);
width: 60%;
height: 60%;
}


/* Styles for year selection on player page */
.selected-dropdown{
    font-weight: bold;
    user-select: none;
  }
  
  .selected-dropdown:hover{
    text-decoration: underline;
    cursor: pointer;
  }
  .rink-year-selector,
  .percentile-year-selector,
  .event-year-selector{
    position: absolute;
    display: block;
    top: 27px;
    left: 3px;
    border: 2px solid black;
    background-color: white;
    z-index: 1000;
    font-size: 16px;
  }
  .dropdown-select:hover{
    background-color: #95a5a6;
    color: white;
    cursor: pointer;
  }
  /* End of styles for year selection on player page */