<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png')}}">


    <link rel="stylesheet" href="{{ url_for('static',filename='css/styles.css')}}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script defer src="{{ url_for('static',filename='script/script.js')}}"></script>
    <script defer src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</head>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">HockeySavant</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="/players">Players</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#">Team</a>
          </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Fantasy</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="#">Prospects</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
        </li>
      </ul>
    </div>
  </nav>


<body>
  <div class="container">
    
    <h1>HockeySavant</h1>
    <h2>About</h2>
    <h3>About the Site</h3>
    <p>This site is made in the style of the popular baseball resource Baseballsavant but with Hockey data. 
      The goal for this site was to make advanced analytics more digestible. On the site, you'll find a wide range of hockey data, including player percentile metrics, goal locations, and highlight clips.
      It was inspired by Neil Pierre-Louis's <a href="http://www.pierreanalytics.com">analytics site</a>.
      The site was created using Flask in python and is hosted using PythonAnywhere.
    </p>
    <h3>About Me</h3>
    <p>Hello, I'm Charlie, the creator behind this hockey savant. I graduated from UNCC Charlotte in spring 2023, and I am currently seeking a job in the sports industry in software engineering or data science. I have had a passion for sports since I was young, and as I have grown, I have shifted my focus from playing to evaluating through the use of data. Fantasy sports have shown me the power of combining traditional sports knowledge with the insights of data. I have expanded the range of applications to which I apply an analytical lens, including prospect evaluation and simulated offseasons where I take on the role of a GM/AGM. <br>
      <a href="https://github.com/CharlesJub/HockeySavant">Project GitHub</a><br>
      <!-- <a href="https://www.linkedin.com/in/charles-jubera/">LinkedIn</a><br> -->
      <a href="https://github.com/CharlesJub">GitHub Account</a><br>
    </p>
    <h3>About Data</h3>
      <p>
        The data used for this site was collected by me using the NHL's API (depreciated endpoints). The code for 
      scraping can be found <a href="https://github.com/CharlesJub/HockeySavant/blob/main/HockeyScraper.py">here</a>. All the calculations for the data presented on the site
      was also done by me. The code for the calculations are not on the GitHub, but if you have any questions you can reach out to me, and I'll be happy to share. The data is stored
      in a database using SQLite. 
      </p>
      <h3>Bug Reports or Feature Requests</h3>
      <p>
        If you find any bugs or have any features you would like to see on the site please create an <a href="https://github.com/CharlesJub/HockeySavant/issues/new">issue report</a> on the GitHub
        with enhancement tag for features and bug for bugs.
      </p>

    </ul>

  </div>

</body>

</html>


